.add-product-button {
  position: fixed;
  right: 20px;
  height: 80px;
  width: 80px;
  animation: shockwave 3s ease-out infinite;
}

@keyframes shockwave {
  0% {
    box-shadow: none;
  }
  40% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 1), 0 0 0 5px #5067e6, 0 0 0 9px #4380bf;
  }
  50% {
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5), 0 0 0 6px rgba(255, 255, 255, 0.5),
      0 0 0 11px rgba(255, 255, 255, 0.5);
  }

}

.add-product-button .mat-icon {
  font-size: 50px;
  height: 50px;
  width: 50px;
}
